.hobbies{

    -webkit-text-fill-color:white;
}
/* hobbies.css */
body {
    background-image: url('https://th.bing.com/th/id/OIP.dds6cyVxXl5Mpuv7Y-TmqQHaE8?pid=ImgDet&rs=1');
    background-size:100%;
    background-repeat: no-repeat;
}
