.heading{
background-color: black;
padding:20px;
border-style:solid;
border-radius:90%;
border-color:pink;
font-size:large;
}  

h1{
    -webkit-text-fill-color:pink;
    text-align:center;
}

h2{
    font-weight:bold;
}
#hobbylink{
    -webkit-text-fill-color: red;
}
body{
    background-color:pink;
    
}
#meme1{
    width:100%;
    height:500px;
}
.tall{
    height:100px ;
    padding-top:25px;
}
#navtitle{
    font-size:100px;
    -webkit-text-fill-color:red;
}
.red{
    color: red;
}